name: Tests

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php: [8.1, 8.2, 8.3, 8.4, 8.5]

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
          ini-values: register_argc_argv=On
      - name: Install dependencies
        run: |
          cd tests
          composer install --no-interaction --prefer-dist

      - name: Run tests
        run: |
          cd tests
          vendor/bin/codecept run
